<% include ../partials/header %>

<div class="jumbotron">
    <h1 class="display-3">Quiz I: ExpressJS + EJS</h1>
    <hr class="my-2">
    <p class="lead">
        <b>Build a database Web app
        <li>Start from the beginning
        <li>Name the project as “140490quiz1”
        <li>Upload project to Github
        <li>Use Express + EJS
        <li>Create 3 pages
        <li>/ : Home page with 1 Jumbotron
        <li>/students : List all students
        <li>/subjects : List all subjects 
    </p>
</div>

<% include ../partials/footer %>